.select-item {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .item-quantity {
    margin-top: 20px;

    .quantity {
      font-weight: 900;
      font-size: 1.2em;
    }
  }
}
